<header class="header">
    <section class="site-header">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="site-nav">
            <a class="page-link" href="{{ site.docs_url }}">Docs</a>
        </nav>
    </section>
    {% if page.title == site.title %}
    <section class="page-header">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    </section>
    {% endif %}
</header>
