---
layout: default
---
<div class="page">
    <article class="page-content">
        {% unless page.hideTitle %}
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p>{{ page.hideTitle }}</p>
        </header>
        {% endunless %}

        {{ content }}
    </article>
    <section class="page-sidebar">
        {% capture docs_len %}{{site.data.docs_sidebar.url | size}}{% endcapture %}
        {% assign maybe_docs_url = page.url | remove: site.baseurl | truncate: docs_len,"" %}

        {% if maybe_docs_url == site.data.docs_sidebar.url %}
        {% include sidebar.html sidebar=site.data.docs_sidebar %}
        {% endif %}
    </section>

</div>
